<div class="home-container">
  <div class="home-card">
    <h1>Health Wallet</h1>
    <p>Upload lab results and manage patient records.</p>

    <%= link_to "View Patients", patients_path, class: "home-link" %>
    <%= link_to "Upload Lab Results", lab_uploads_path, class: "lab-upload-link" %>
  </div>
</div>
